
#titulo1{

  color: #ffffff;
  text-align: center;

}

#titulo2{

  color: rgb(255, 255, 255);
  text-align: center;

}

h1{
  color: #ffffff;
}

p{
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 22px;


}

.body{

  background-color: #000000;
      -webkit-animations: carol 10s;
      animation: carol 10s;
    }
        @keyframes carol {

     0%{background: #ffffff;}
    20%{background: #000000;}
    40%{background: #ffffff;}
    60%{background: #000000;}
    80%{background: #ffffff;}
    100%{background: #000000;}

}

  .container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .container2{

    display: flex;
    justify-content: center

  }

  #menu li {
    display: inline;
    padding: 15px;
  }

  #menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  #menu li a:hover{
    color: rgb(0, 0, 0);
  }

  form{
    color: #ffffff;
    margin-bottom: 195px; 

  }


  .padding{
    padding: 30px;
  }

  .borda{
    border-radius: 50%;
  }
 
  .bodycontato{

    background-color: #000000;
   
  
  }

  #menucontato li {
    display: inline;
    padding: 15px;
  }

  #menucontato li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  #menucontato li a:hover{
    color: rgb(255, 255, 255);
  }

  footer {

    background-color: #ffffff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 0;
    max-height: 50px;
  
    
  }

 .social-links {
  display: flex;
  justify-content: center; 
  gap: 10px

  }

 .social-links img {
   display: flex;
   justify-content: center ;
    height: 40px;
    width: auto;
    
  }

  .rodape{
    margin-top: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  /*PARA PEQUENOS DISPOSITIVOS*/

  @media (max-width: 768px) {
    .container,.container2 {
       flex-direction: column;
     }
   
     #menu li, #menucontato li {
       padding: 10px;
     }
   
     #menu li a, #menucontato li a {
       font-size: 24px;
     }
   
    .social-links {
       flex-direction: column;
     }
     
     footer {
      max-height: 50px; 
      width: 95%;
      padding: 10px 0; 
   
    }




   }
   